<div class="page-container">
  <div class="authorisation-form">
    <h2 class="authorisation-form__title">Авторизация</h2>

    <form class="authorisation-form__form">
      {{{button}}}
    </form>
  </div>
</div>
