<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./authorisation.less">
    </head>
    <body>
        <div class="pagecontainer">
            <div class="authorisation-form">
                <h2>Авторизация</h2>

                <form>
                  <div class="authorisation-form__input-block">
                    <label for="login">Логин:</label>
                    <input type="text" name="login" class="authorisation-form__input-block_input">
                    <label for="password">Пароль:</label>
                    <input type="password" name="password" class="authorisation-form__input-block_input">
                  </div>

                  <div class="authorisation-form__button-block">
                    <input type="button" value="Авторизоваться" class="authorisation-form__button-block__button">
                    <input type="button" value="Зарегистрироваться" class="authorisation-form__button-block__button">
                  </div>
                </form>
            </div>
        </div>
    </body>
</html>