<html>

  <head>
    <link rel="stylesheet" type="text/css" href="./authorisation.less" />
  </head>

  <body>
    <div class="page-container">
      <div class="authorisation-form">
        <h2 class="authorisation-form__title">Авторизация</h2>

        <form class="authorisation-form__form">
          <div class="input-block">
            <label for="login" class="input-label">Логин:</label>
            <input type="text" name="login" class="input-block__input" />
            <label for="password" class="input-label">Пароль:</label>
            <input type="password" name="password" class="input-block__input" />
          </div>

          <div class="button-block">
            <input type="button" value="Авторизоваться" class="button-block__button" />
            <input type="button" value="Зарегистрироваться" class="button-block__button" />
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
