<html lang="ru">

  <head>
    <link rel="stylesheet" type="text/css" href="./authorisation.less" />
    <script defer src="index.ts" type="module"></script>
    <title>Авторизация</title>
  </head>

  <body>
    <div class="page-container">
      <div class="authorisation-form">
        <h2 class="authorisation-form__title">Авторизация</h2>

        <form class="authorisation-form__form">
          <div class="input-block">
            <label for="login" class="input-label">Логин:</label>
            <input id="login" type="text" name="login" class="form-input input-normal" />
            <label for="password" class="input-label">Пароль:</label>
            <input id="password" type="password" name="password" class="form-input input-normal" autocomplete="false" />
          </div>

          <div class="button-block">
            <button id="auth-button" type="submit" class="button-block__button">Авторизоваться</button>
            <input type="button" value="Зарегистрироваться" class="button-block__button" />
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
