/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-v29-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/roboto-v29-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v29-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v29-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v29-cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
@baseFontFamily   : "Roboto";
@baseFontSize     : 16px;
@baseElementHeight: 32px;
@border-color     : #e2e2e2;
@menu-color       : #f6f6f6;
@color-secondary  : #808080;
@color-dark-grey  : #333333;