<html>
<head>
    <link rel="stylesheet" type="text/css" href="./error.less">
</head>
<body>
<div class="pagecontainer">
    <div class="errorcontainer">
        <img src="../../../static/sad_smile.png" alt="error 500">
        <p class="errortext">
          Ошибка {{error.errorNumber}}. Уже чиним! ;)
        </p>
        <nav>
            <a href="../../index.html">На главную</a>
        </nav>
    </div>
</div>
</body>
</html>
