<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="./error.less">
</head>
<body>
<div class="pagecontainer">
    <div class="errorcontainer">
        <img src="../../../static/sad_smile.png" alt="error 404">
        <p align="justify" class="errortext">404… Увы, но эта страница где-то затерялась в галактике Интернета.
            Скорее всего, это случилось потому, что страница переехала или такой страницы больше нет.
        </p>
        <nav>
            <a href="../../index.html">На главную</a>
        </nav>
    </div>
</div>
</body>
</html>
