<html lang="ru">

  <head>
    <link rel="stylesheet" type="text/css" href="./error.less" />
    <title>Ошибка 404</title>
  </head>

  <body>
    <div class="page-container">
      <div class="error-container">
        <img class="error-container__image" src="../../../static/sad_smile.png" alt="error 404" />
        <p align="justify" class="error-text">404… Увы, но эта страница где-то затерялась в галактике Интернета. Скорее всего, это случилось потому, что страница переехала или
          такой страницы больше нет.
        </p>
        <nav>
          <a href="../../index.html">На главную</a>
        </nav>
      </div>
    </div>
  </body>

</html>
