<html lang="ru">

  <head>
    <link rel="stylesheet" type="text/css" href="./error.less" />
    <title>Ошибка 500</title>
  </head>

  <body>
    <div class="page-container">
      <div class="error-container">
        <img class="error-container__image" src="../../../static/sad_smile.png" alt="error 500" />
        <p class="error-text">
          Ошибка
          {{error.errorNumber}}. Уже чиним! ;)
        </p>
        <nav>
          <a href="../../index.html">На главную</a>
        </nav>
      </div>
    </div>
  </body>

</html>
