<html>

  <head>
    <link rel="stylesheet" type="text/css" href="./registration.less" />
  </head>

  <body>
    <div class="page-container">
      <div class="registration-form">
        <h2 class="registration-form__title">Регистрация</h2>

        <form class="registration-form__form">
          <div class="input-block">
            <label class="input-label" for="email">Почта:</label>
            <input type="email" name="email" class="input-block__input" />
            <label class="input-label" for="login">Логин:</label>
            <input type="text" name="login" class="input-block__input" />
            <label class="input-label" for="first_name">Имя:</label>
            <input type="text" name="first_name" class="input-block__input" />
            <label class="input-label" for="second_name">Фамилия:</label>
            <input type="text" name="second_name" class="input-block__input" />
            <label class="input-label" for="phone">Телефон:</label>
            <input type="tel" name="phone" class="input-block__input" />
            <label class="input-label" for="password">Пароль:</label>
            <input type="password" name="password" class="input-block__input" />
          </div>

          <div class="button-block">
            <input type="button" value="Зарегистрироваться" class="button-block__button" />
            <input type="button" value="Авторизоваться" class="button-block__button" />
          </div>

        </form>
      </div>
    </div>
  </body>

</html>
