<html lang="ru">

  <head>
    <link rel="stylesheet" type="text/css" href="./password.less" />
    <script defer src="index.ts" type="module"></script>
    <title>Сменить пароль</title>
  </head>

  <body>
    <div class="page-container">
      <div class="password-form">
        <h2 class="password-form__title">Сменить пароль</h2>

        <form class="password-form__form">
          <div class="input-block">
            <label for="oldPassword" class="input-label">Текущий пароль:</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-input input-normal" autocomplete="false" />
            <label for="newPassword" class="input-label">Новый пароль:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-input input-normal" autocomplete="false" />
          </div>

          <div class="button-block">
            <button id="save-button" type="submit" class="button-block__button">Сохранить</button>
            <button id="cancel-button" type="reset" class="button-block__button">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
