<html>

  <head>
    <link rel="stylesheet" type="text/css" href="./password.less" />
  </head>

  <body>
    <div class="page-container">
      <div class="password-form">
        <h2 class="password-form__title">Сменить пароль</h2>

        <form class="password-form__form">
          <div class="input-block">
            <label for="oldPassword" class="input-label">Текущий пароль:</label>
            <input type="password" name="oldPassword" class="input-block__input" />
            <label for="newPassword" class="input-label">Новый пароль:</label>
            <input type="password" name="newPassword" class="input-block__input" />
          </div>

          <div class="button-block">
            <input type="button" value="Сохранить" class="button-block__button" />
            <input type="button" value="Отмена" class="button-block__button" />
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
